$beige: rgb(235, 235, 210);
$raisin-black: rgb(37, 35, 35);

$lavender-gray: rgb(190, 180, 214);
$lavender-pink: rgb(255, 196, 235);
$cherry-blossom-pink: rgb(248, 179, 202);
$pastel-violet: rgb(204, 151, 193);
$apricot: rgb(254, 200, 173);

$text-high-emphasis: rgba(10, 10, 10, 0.87);
$text-helper: rgba(10, 10, 10, 0.67);
$text-high-emphasis--secondary: rgba(240, 240, 240, 0.87);
$text-helper--secondary: rgba(240, 240, 240, 0.67);

$gradient-hero-banner: linear-gradient(315deg, $pastel-violet 0%, $lavender-gray 80%);