@import '../Variables/theming';
@import '../utils';

.root {
    @extend .flex--column,
    .gap-medium;

    transition: .5s;
    transform: rotateX(8deg) rotateY(8deg);
    transform-style: preserve-3d;

    justify-content: space-between;
    background-color: $lavender-gray;
    background-image: $gradient-hero-banner;
    padding: 24px;
    border-radius: 8px;

    cursor: default;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);

    &:hover {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

.footer {
    @extend .flex,
    .gap-medium;

    width: 100%;

    a,
    button {
        width: 100%;
    }
}